/* @value card-background: #00ff5f; */
@value card-background: #F25C05;

.scrollBtn {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  bottom: 20px;
  cursor: pointer;
  outline: 0;
  padding: 13px 25px;
  position: fixed;
  right: 20px;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2;
}
  
.scrollBtn::after {
  background-color: card-background;
  content: "";
  height: 100%;
  left: 7px;
  position: absolute;
  top: 7px;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
}
  
.scrollBtn:hover::after {
  left: 0;
  top: 0;
}


@media mobile-L, screen and (max-width: 425px) {
  .scrollBtn {
    padding: 8px 10px;
  }
}

@media tablet, screen and (max-width: 768px) {
  .scrollBtn {
    padding: 13px 15px;
  }
}
