/* @value card-background: #00ff5f; */
@value card-background: #667FF2;

/* .scrollBtn {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  bottom: 20px;
  cursor: pointer;
  outline: 0;
  padding: 13px 25px;
  position: fixed;
  right: 20px;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2;
} */
  
.scrollBtn {
  background-color: rgba(0, 0, 0, 0.0);
  border: 10px solid #333;
  border-left: 0;
  border-top: 0;
  bottom: 20px;
  cursor: pointer;
  height: 25px;
  position: fixed;
  right: 20px;
  transform: rotate(225deg);
  width: 25px;
}

.scrollBtn::after {
  border: 10px solid  card-background;
  border-left: 0;
  border-top: 0;
  content: "";
  height: 100%;
  left: 7px;
  position: absolute;
  top: 7px;
  transition: 0.2s ease-in-out;
  width: 100%;
  z-index: -1;
}
  
.scrollBtn:hover::after {
  left: 0;
  top: 0;
}


/* @media mobile-L, screen and (min-width: 425px) {

} */

@media tablet, screen and (min-width: 768px) {
  .scrollBtn {
    height:48px;
    width:48px;
  }
}

@media laptop, screen and (min-width: 1024px) {
  .scrollBtn {
    height:49px;
    width:49px;
  }
}

@media laptop-L, screen and (min-width: 1440px) {
  .scrollBtn {
    height:60px;
    width:60px;
  }
}
