/* @value link-a: #0059C5; */
@value link-a: #F25C05;

html,
body {
  background-color: #ededed;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0059C5;
  text-decoration: none;
}

a:hover {
  color: #F25C05;
  text-decoration: underline;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}
