
html,
body {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}
