html {
  color-scheme: light dark;
}

body {
  background-color: #F9F9F9;
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

main {
  margin-inline: auto;

  /* width: min(70ch, 100% - 4rem); */
}

a {
  color: #0059C5;
  text-decoration: none;
}

a:hover {
  color: #F25C05;
  text-decoration: underline;
}

