.heading2XL {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  margin: 0;
}

.headingXl {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  background-color: #ededed;
  border-radius: 0.25rem;
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.about {
  margin-top: 2rem; 
}

.paragraph {
  text-indent: 1rem;
}