.container {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
  margin: 3rem auto 6rem;
  padding: 0 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.main {
  margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #1F1F1F;
    color: #F9F9F9;
  }
}


@media mobile-L, screen and (min-width: 425px) {
  .container {
    max-width: calc(425px - 1.2rem);
  }

}

@media tablet, screen and (min-width: 768px) {
  .container {
    max-width: 36rem;
  }
}

@media laptop, screen and (min-width: 1024px) {
  .container {
    max-width: calc(1024px - 12rem);
  }

}

@media laptop-L, screen and (min-width: 1440px) {
  .container {
    max-width: calc(1440px - 12rem);
  }
}
