@value card-height: 10.625rem;
@value text-margin: 0;

.cardContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: transparent;
  border: 1px solid #7d7d7ddf;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: card-height;
  justify-content: space-between;
  padding: 0.5rem 0.875rem;
  touch-action: manipulation;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.font {
  font-size: small;
  margin: text-margin;
}

.header {
  font-size: medium;
  margin: text-margin;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: text-margin;
}

@media mobile-L, screen and (min-width: 425px) {
  .cardContainer {
    grid-template-columns:  1fr;
  }
  
}

@media tablet, screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media laptop, screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media laptop-L, screen and (min-width: 1440px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 

@media four-k, screen and (min-width: 2560px) {
  .cardContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}  */