@value card-background: #ffe54c;
@value card-height: 10.625rem;
@value text-margin: 0;

.cardContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: card-height;
  justify-content: space-between;
  padding: 0.5rem 0.875rem;
  position: relative;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}
  
.card::after {
  background-color: card-background;
  content: "";
  height: 100%;
  left: 7px;
  position: absolute;
  top: 7px;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
}

.card:hover::after {
  left: 0;
  top: 0;
}

.font {
  font-size: small;
  margin: text-margin;
}

.header {
  font-size: medium;
  margin: text-margin;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: text-margin;
}


@media mobile-L, screen and (min-width: 425px) {
  .cardContainer {
    grid-template-columns:  repeat(2, 1fr);
  }

}

@media tablet, screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media laptop, screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media laptop-L, screen and (min-width: 1440px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media four-k, screen and (min-width: 2560px) {
  .cardContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}