@value card-height: 10.625rem;
@value text-margin: 0;

.cardContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.imagem {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.card {
  border-bottom: 1px solid  #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  touch-action: manipulation;
}

.font {
  font-size: small;
  margin: text-margin;
}

.header {
  align-self: center;
  font-size: small;
  margin: text-margin;
  margin: 0;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: 10px;
}

.links_container {
  align-items: center;
  display: flex;
  gap: .25rem;
  justify-content: space-evenly;
  margin: text-margin;
  
}

.link p {
  margin: 0;
  padding: 0;
}

.link {
  align-items: center;
  background-color:  #262626;
  border: 1px solid  #E5E5E5;
  border-radius: 8px;
  color:  #FFF;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  font-weight: 500;;
  gap: 0.15rem;
  justify-content: space-between;
  padding: 6px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

.arrow {
  height: 7px;
  width: 7px ;
}

/* @media mobile-L, screen and (min-width: 425px) {
  .cardContainer {
    grid-template-columns:  repeat(2, 1fr);
  }
} */

@media tablet, screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .header {
    font-size: medium;
  }

  .link {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    gap: 0.15rem;
    justify-content: space-around;
    padding: 10px;
  }

}


@media laptop, screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    font-size: large;
  }

  .link {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
  }

  .arrow {
    height: 9px;
    width: 9px ;
  }
}

@media laptop-L, screen and (min-width: 1440px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    font-size: larger;
  }

  .link {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
  }

  .arrow {
    height: 11px;
    width:11px ;
  }
}

/* @media four-k, screen and (min-width: 2560px) {
  .cardContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}  */