.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name_container {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.name {
  font-size: large;
  margin: 0;
}

.iconsContainer {
  display: flex;
  gap:  0.5rem;
}

.icons {
  opacity: 50%;
}

.icons:hover {
  opacity: 100%;
}

.profession {
  font-size: 40px;
  margin: 0;
}