.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name_container {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.name {
  font-size: large;
  margin: 0;
  padding: 0;
}

.iconsContainer {
  display: flex;
  gap:  1rem;
  margin: 1rem;
}

.icons {
  opacity: 50%;
}

.icons:hover {
  opacity: 100%;
}

.profession {
  font-size: 2.2em;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .icons {
    background-color: #f3f4f6;
    border-radius: 10%;
    opacity: 50%;
    padding: .125rem;
  }

}
