.container {
  display: flex;
}

.ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0.25rem;
  width: 100%;
}

.lis:hover {
  border-radius: 10%;
}